/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Apr-2017, 12:45:15 PM
    Author     : Yang
*/
img{
    height:100%;
}
.trumpText{
  position:absolute;
  color:white;
  overflow:auto;
  font-size:20px;
  margin-top:5%;
  margin-left:15px;
  font-size: 150%;
  font-family:Comic Sans MS;
  
}
.mainDiv{
  width:250px;
  height:100px;
  background-color:teal;
  border-radius:25px;
}
.mainText{
  font-family:Comic Sans MS;
  text-align:center;
  margin-top:5px;
  padding-top:10px;
}
.mainField{
  margin-left:50px;
}
.mainBtn{
  margin-left:90px;
  margin-top:5px;
}
h2 { 
   bottom:0;
   margin:0 30px -20px;
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
}
.divF{
  border:blue;
  width:600px;
  height:450px;
  float:left;
}


.newsDiv{
  width:250px;
  height:auto;
  margin-top:5px;
  text-align:center;
}
